<!doctype html>
	<html lang="vi">
		<head>
			<meta charset="utf-8">
				<title>trang chủ đăng nhập</title>
			<link rel="stylesheet" href="{{url_for("static",filename="image/dangnhap.css")}}">
</head>
<body>
	<header>
		<img src="{{url_for("static",filename="image/logo.png")}}">
		</header>
		<hr>
<main>
	<h1>Đăng Nhập</h1>
	<form method="post">
		<label>tên đăng nhập : </label>
		<input type="text" name="ten" placeholder="username"><br><br>
			<label>mật khẩu     : </label>
		<input type="password" name="mk" placeholder="password"><br><br>
			<button type="submit" >đăng nhập</button></form><a href="">Đăng ký</a>
</main>
	<hr>
			<footer>
				<img src="{{url_for("static",filename="image/logo.png")}}">
				<p>©NDT web developer</p>
				<p>©2025</p>
				<p>liên hệ</p>
				<p>Email : thaondt4@gmail.com</p>
				<a href="https://youtube.com/@gamehunter4_o_o_2?si=x_3mxFPOoT1HBcL7">Youtube</a>
</footer>
	</body>
	</html>