<!doctype html>
	<html lang="vi">
		<head>
			<meta charset="utf-8">
				<title>trang web đầu tiên của tôi</title>
</head>
<body>
	<h1><em>xin chào mọi người đã đến với trang web đầu tiên của tôi </em></h1>
	<p> tôi đang học tập để trở thành một lập trình viên web chuyên nghiệp trong tương lai <p>
		<p>trang web này là một bước ngoặt và bước đệm để tôi cố gắng học hỏi, trau dồi thêm <br>kiến thức hơn để trở thành một Dev web chuyên nghiệp hơn,<br>đó là một chặng
		đường không hề dễ dàng, nhưng nếu kiên trì và không bỏ cuộc, hỏi hỏi không ngừng và thực hành qua các dự án , tích lũy thêm kinh nghiệm <br>
			tôi tin chắc chắn tôi sẽ hoàn thành được giấc mơ trở thành một web dev chuyên nghiệp của mình </p>
				<h2><em>đây là một khởi đầu</em></h2>
				<p>như tôi đã nói trước đó trang web này là một bước ngoặt và sự khởi đầu của tôi <br>
					nó tiếp thêm cho tôi nhiều động lực để tiếp tục học tập và trau dồi thêm nhiều kiến thức, vì lập trình là một con đường dài <br>
		tôi phải bước từng bước, tích lũy kiến thức và kinh nghiệm theo thời gian, công nghệ thì phát triển rất nhanh đòi hỏi các lập trình viên phải <br>
			học hỏi không ngừng</p>
			
</body>
</html>