<!doctype html>
	<html lang="vi">
		<head>
			<meta charset="utf-8">
				<title>trang web đầu tiên của tôi</title>
			<link rel="stylesheet" href="{{url_for("static",filename="image/web.css")}}">
</head>
<body>
	<header>
		<img src="{{url_for("static",filename="image/logo.png")}}">
		<nav>
			<a href="">Trang Chủ</a>
			<br><br><br>
			<a class="" href="">Bài Viết</a>
			<br><br><br>
			<a href="">Nhạc</a><br>
</nav>
<hr>
</header>
<main>
	<h1><em>Hello Welcome to my website</em></h1>
		<p>đây là một khởi đầu trong con đường web developer</p>
				<h2><em>khởi đầu</em></h2>
<p>tôi đang tự học và phát triển trang web của tôi ,lúc đầu tôi học lập trình cho vui nhưng hiện tại tôi muốn phát triển web<br>
</p>
			</main>
			<hr>
			<footer>
				<img src="{{url_for("static",filename="image/logo.png")}}">
				<p>©NDT web developer</p>
				<p>©2025</p>
				<p>liên hệ với tôi qua :</p>
				<p>Email : thaondt4@gmail.com</p>
				<a href="https://youtube.com/@gamehunter4_o_o_2?si=x_3mxFPOoT1HBcL7">Youtube</a>
</footer>
</body>
</html>