<!doctype html>
	<html lang="vi">
		<head>
			<meta charset="utf-8">
				<title>trang chủ đăng nhập</title>
			<link rel="stylesheet" href="{{url_for("static",filename="image/web.css")}}">
</head>
<body class="trangchu">
	<header>
		<img src="{{url_for("static",filename="image/logo.png")}}">
		<nav>
			<a href="{{url_for("trang_chu_dang_ky")}}">Trang Chủ</a>
			<br><br><br>
			<a href="{{url_for("dang_nhap")}}">Đăng nhập</a>
</nav>
<hr>
</header>
<main>
	<h1><em>Hello Welcome to my website</em></h1>
		<p>tôi muốn trở thành web developer</p>
				<h2><em>khởi đầu</em></h2>
<p>tôi đang tự học và phát triển trang web của tôi<br>
</p>
			</main>
			<hr>
			<footer>
				<img src="{{url_for("static",filename="image/logo.png")}}">
				<p>©NDT web developer</p>
				<p>©2025</p>
				<p>liên hệ</p>
				<p>Email : thaondt4@gmail.com</p>
			<p class="yt">Youtube <a href="https://youtube.com/@gamehunter4_o_o_2?si=x_3mxFPOoT1HBcL7"><img src="{{url_for("static",filename="image/youtube.jpg")}}"></a></p>
			<p class="fb">Facebook<a href="https://www.facebook.com/nguyen.thao.221436?mibextid=kFxxJD"><img src="{{url_for("static",filename="image/facebook.jpg")}}"></a></p>
</footer>
</body>
</html>