/* css trangchu */


.trangchu footer p { color : gray;
font-size:27px;
font-family: Monospace;
padding: 10px}
.trangchu footer{ background-color:black;}
.trangchu main { background-color:lavender}
.trangchu main p{color : black !important;
text-align: justify}
.trangchu footer img{float: right;
width:300px;
height:auto}
.trangchu footer a:hover{color:green}
.trangchu main h1 { font-weight:900 ;
color : lightgreen;
font-family: Serif;
text-align:center}
.trangchu nav { text-align: right}
.trangchu nav a{ color:gray;
font-family: sans-Serif;
padding:5px}
.trangchu nav a:hover{color:blue}
.trangchu header { background-color:#2c2c54}
.trangchu main h2{ text-align: center;
text-decoration: underline}
.trangchu header img{ max-width:100%;
height: auto}
.trangchu footer p a{ color:gray;
}
.trangchu a img{ width:40px;}
.trangchu .yt img{width:100px;
display:flex}
.trangchu .yt{display:flex;
align-items: center}
.trangchu p { display:flex;
align-items:center;
}
.trangchu .fb a img{padding-left:20px}

/* css trang đăng nhập */

.dangnhap footer p { color : gray;
font-size:26px;
font-family: Monospace;
padding: 10px}
.dangnhap footer{ background-color:black;}
.dangnhap footer a { padding: 10px;
color: gray;
font-size: 15px}
.dangnhap footer img{ float:right;
width:300px;
height:auto}
.dangnhap footer a:hover{color:green}
.dangnhap main{ background-color: lavender}
.dangnhap header{ background-color: #2c2c54}
.dangnhap header img{ width:100% ;
height: auto}
.dangnhap main .dang_nhap{border: 2px solid #ccc;
padding:20px;
width:500px;
height: 600px;
margin:50px;
background: #f9f9f9;
margin-left:200px;
border-radius:10px}
.dangnhap .dang_nhap h1{text-align:center;
font-width:900;
font-size:60px}
.dangnhap .dang_nhap input{border : 2px solid #ccc ;
border-radius: 7px;
width:100%;
padding-top:15px;
padding-bottom:15px;
margin:15px}
.dangnhap .dang_nhap button{margin-left: 140px ;
background: lightblue;
width : 210px;
margin-top:15px;
padding: 5px;
border-radius:5px;
font-size:25px}
.dangnhap .dang_nhap a{display: inline-block;
margin-left:140px;
border: 2px solid black;
width:150px;
padding:5px;
background : lightcoral;
text-decoration: none;
padding-left:50px;
border-radius:5px;
font-size: 25px;
color:black}
.dangnhap .dang_nhap p{margin-left:180px;
font-size: 30px}
.dangnhap .dang_nhap label{font-family:Serif;
font-size:35px;
margin-left:10px}
.dangnhap footer p a{ color:gray;
}
.dangnhap a img{ width:40px;}
.dangnhap .yt img{width:100px;
display:flex}
.dangnhap .yt{display:flex;
align-items: center}
.dangnhap p { display:flex;
align-items:center;
}
.dangnhap .fb a img{padding-left:20px}
main .thong_bao {font-size:30px;
text-align:center;
color: green}
.dangnhap input::placeholder{font-size:30px;
color:darkgray}

/* css đăng ký */
.dangky footer{background: black;
height:600px}
.dangky footer p {color:gray;
font-width:35px;
font-family: Monospace;
padding-left :20px;
padding-top:20px;
font-size:35px}
.dangky footer img{float:right;
width:300px;
height: auto}
.dangky .yt img{width:100px}
.dangky .fb img{width:40px;
padding-left:25px}
.dangky .yt{display: flex;
align-items: center}
.dangky .fb{display: flex;
align-items: center;
padding-left:5px}
.dangky .dang_ky{border:2px solid gray;
width:510px;
height:800px;
margin-left: 220px;
padding:20px;
border-radius: 18px;
background:#f9f9f9}
.dangky .dang_ky h1{text-align:center;
font-size:50px}
.dangky .dang_ky label{font-size:35px;}
.dangky .dang_ky input{width:100%;
height:35px;
margin-bottom:30px;
margin-top:10px;
border: 3px solid gray;
border-radius: 10px;
padding:10px;
padding-top:15px}
.dangky .dang_ky button{margin-top:10px;
width:250px;
text-align: center;
margin-left: 120px;
background: lightblue;
font-size: 35px;
padding-bottom:5px;
padding-top:5px;
border-radius:8px}
.dangky input::placeholder{font-size:29px;
color : darkgray;}
.dangky main{background:lavender}
.dangky main p {font-size: 30px;
text-align: center;
color: orange}